{% extends "base.twig" %}

{% block content %}
    <div class="wrapper">
        {#<img class="pony-image" src="/components/serious_pony.jpg" alt=""/>#}
        <div class="pony-message">
            <h1>Сообщение отправлено</h1>
            <p>Пони уже выехал на помощь!</p>
        </div>
    </div>
{% endblock %}